
{% load static %}
<html>
<head>
<link rel="stylesheet" href="{% static 'services.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
<div>
	<h1>Add Service </h1>
  <form method='POST'>
    {% csrf_token %}
    <label for="Sno">Service Id</label><br>
    <input type="text" id="Sno" name="serviceId" placeholder="Enter Service ID" minlength="2" maxlength="10" required><br>
	
    <label for="Service Type">Select Service Type</label><br>
    <select id="service type" name="serviceType">
      <option value="Food">Food Service</option>
      <option value="Laundry">Laundry Service</option>
      <option value="Spa">Spa</option>
    </select><br>

    <label for="price">Price</label><br>
    <input type="number" name="Price" step="0.01" min="0" max="100000" required><br>
    
    <label for="serviceDesc">Service Description</label><br>
    <input type="text" id="description" name="serviceDesc" placeholder="Enter service Description"><br>
	
    <h2 ><i> {{message}} </i></h2>
    <input type="submit" value="Submit">
	
  </form>
</a><button class="back-button" ><a href="{% url 'home' %}">Back To Home</a></button>
</div>
</body>
</html>